<div class="box">
    {{> NavigationBar}}
</div>


<div class="columns is-vcentered">
    <div class="column">
        <div class="box">
            <h1 class="title">Add new venue</h1>
            {{> POIForm }}
        </div>
    </div>
</div>
