<div class="box">
    {{> NavigationBar}}
</div>

<div class="columns">

    <div class = "column is-half">
    {{> ListUsers}}
    </div>
    <div class ="column">
        {{> ListCategories}}
    </div>
</div>