<div class="box">
    {{> NavigationBar}}
</div>

<form action="/profile/updateuser" method="POST">
    <div class="field">
        <label for="password" class="label">Enter new Password:</label>
        <input class="input" id="password" type="password" name="password">
    </div>
    <button class="button is-info">Change Password</button>
</form>