<div class="box">
    {{> NavigationBar}}
</div>
<div class="columns">
    <div class = "column">
        {{> EditPOIForm}}
    </div>
    <div class = "column">
        {{> POIImages}}
    </div>
</div>