<div class="box">
    {{> NavigationBar}}
</div>


<div class="columns is-centered">
    <div class="column is-half">
        <div class="box">

            <h1 class="title">Log in</h1>
            <h4>No account yet? <a href="/signup">Sign Up</a></h4>
            {{> LoginForm }}

        </div>
    </div>
</div>
