<form action="/login" method="POST">

    <div class="field">
        <label class="label" for="email">Email</label>
        <div class="control has-icons-left">
            <input class="input" id="email" type="text" placeholder="Enter email..." name="email">
            <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
        </span>
        </div>
    </div>
    <div class="field">
        <label class="label" for="password">Password</label>
        <div class="control has-icons-left">
            <input class="input" id="password" type="password" placeholder="Enter Password..." name="password">
            <span class="icon is-small is-left">
            <i class="fa-solid fa-key"></i>
        </span>
        </div>
    </div>
    <div class="field is-grouped">
        <button class="button is-link">Log in</button>
    </div>
    {{#if error}}
        <div id="errorBox" class="notification is-danger">
            <button class="delete" type="button"
                    onclick="document.getElementById('errorBox').style.display='none'"></button>
            Login failed.
            <ul>
                {{#each error.details}}
                    <li>{{message}}</li>
                {{/each}}
            </ul>

        </div>
    {{/if}}
</form>
