<form action="/profile/updateuser/{{user._id}}" method="POST">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label for="firstname" class="label">First Name</label>
                <p></p>
                <input class="input" id="firstname" type="text" placeholder="Enter first name" name="firstname">
            </div>
            <div class="field">
                <label for="lastname" class="label">Last Name </label>
                <input class="input" id="lastname" type="text" placeholder="Enter last name" name="lastname">
            </div>
        </div>
    </div>
    <div class="field">
        <label for="email" class="label">Email</label>
        <input class="input" id="email" type="text" value="Enter email" name="email">
    </div>
    <div class="field">
        <label for="username" class="label">Username</label>
        <input class="input" id="username" type="text" placeholder="Choose username" name="username">
    </div>
    <div class="field">
        <label for="password" class="label">Password</label>
        <input class="input" id="password"type="password" placeholder="Enter Password" name="password">
    </div>
    <div class="field is-grouped">
        <button class="button is-link">Sign Up</button>
    </div>

    {{#if error}}
        <div id="errorBox" class="notification is-danger">
            <button class="delete" type="button"
                    onclick="document.getElementById('errorBox').style.display='none'"></button>
            Sign up failed!
            <ul>
                {{#each error.details}}
                    <li>{{message}}</li>
                {{/each}}
            </ul>

        </div>
    {{/if}}
</form>
